a.acf-button.button.button-primary {
  background-color: $brand-primary;
  &:hover {
    background-color: lighten($brand-primary, 5%);
  }
}

.acf-form-submit {
  input {
    background-color: $brand-primary;
    color: #FFF;
    text-transform: uppercase;
    font-size: 25px;
    border: none;
    border-radius: 0;
    margin: 25px;
    padding: 10px 15px;
    &:hover {
      background-color: lighten($brand-primary, 5%);
    }
  }
}

.acf-button.button.button-primary.button-large {
  font-size: 27px !important;
}
