a.acf-button.button.button-primary {
  background-color: $brand-primary;
  color: #FFF;
  font-weight: 700;
  &:hover {
    background-color: lighten($brand-primary, 5%);
  }
}

.acf-form-submit {
  text-align: center;
  input {
    background-color: $brand-primary;
    color: #FFF;
    //text-transform: uppercase;
    font-size: 27px;
    font-weight: 700;
    border: none;
    border-radius: 0;
    margin: 25px auto;
    padding: 17px 23px;
    &:hover {
      background-color: lighten($brand-primary, 5%);
    }
  }
}

.acf-button.button.button-primary.button-large {
  font-size: 27px !important;
}

// make front end forms responsive

.acf-fields.acf-form-fields {
  .acf-field {
    @media(max-width: 991px) {
      width: 100% !important;
    }
  }
}

.acf-repeater {
  .acf-actions {
    li {
      float: none !important;
      margin: 0;
    }
  }
}

.acf-input {
  .hide-if-value {

    a.acf-button.button {
      background-color: $brand-primary;
      margin: 3px 0 3px 7px;
      padding: 7px 10px;
      &:hover {
        background-color: lighten($brand-primary, 5%);
      }
    }
  }
}
