.add-or-edit-listing {

  label {
    font-size: 12px;
  }
  input {
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
  }
  select {
    //height: auto;
    height: 28px;
  }
  input, select {
    font-size: 12px !important;
    padding-left: 10px;
  }

  .acf-field select {
    padding: 2px 20px 2px 10px;
  }

}

