.add-or-edit-listing {

  label {
    font-size: 12px;
  }
  input {
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
  }
  select {
    //height: auto;
    height: 28px;
  }
  input, select {
    font-size: 12px !important;
    padding-left: 10px;
  }

  .acf-field select {
    padding: 2px 20px 2px 10px;
  }
}

.two-buttons {
  padding: 30px 0;
  @media(min-width: $screen-sm) {
    display: flex;
    justify-content: space-around;
  }
  button.mp-button {
    font-size: 27px;
    border-radius: 0;
    padding: 22px 13px;
    min-width: 320px;
    //border: 4px solid $brand-primary;
    //&:focus {
    //  outline: none;
    //}
    //&:hover {
    //  border-color: lighten($brand-primary, 5%);
    //}
    //&.active {
    //  border-color: darken($brand-primary, 5%);
    //  background-color: lighten($brand-primary, 5%);
    //}
    //text-transform: uppercase;
  }
}

//.for-sale-listing, .for-lease-listing, .add-a-listing-wrap {
//  display: none;
//}
.add-a-listing-wrap {
  //display: none;
  div[data-name="listing_for_sale_or_for_lease"] {
    display: none;
  }
  div[data-name="lease_type"], div[data-name="listing_type"] {
    width: 100% !important;
    @media(min-width: $screen-sm) {
      padding: 0 250px;
    }
  }
  .acf-field {
    border: none !important;
  }
  textarea {
    height: 120px !important;
  }
}

// navigation should work the same with both forms - same code can effect each of them
// hide everything, and then show certain sections based on what class is available... but how to use a fade transition
// to do this?
.add-a-listing-wrap {
  // page 1
  div[data-name='listing_type'],
  div[data-name='lease_type'],
  div[data-name='listing_address'],
  div[data-name='listing_city'],
  div[data-name='listing_state'],
  div[data-name='listing_zip'],
  div[data-name='listing_price'],
  div[data-name='listing_description'],
  div[data-name='listing_space_available'],
  div[data-name='listing_monthly_rent'],
  div[data-name='rental_rate_sf_month'],
    // page 2
  div[data-name='listing_mls_number'],
  div[data-name='listing_apn_parcel_id'],
  div[data-name='listing_building_size'],
  div[data-name='listing_lot_size'],
  div[data-name='listing_number_of_units'],
  div[data-name='listing_cap_rate'],
  div[data-name='listing_gross_income'],
  div[data-name='listing_operating_expenses'],
  div[data-name='listing_net_operating_income'],
  div[data-name='listing_number_of_parking_spaces'],
    // page 3
  div[data-name='listing_unit_mix'],
  div[data-name='rental_unit_mix'],
  div[data-name='listing_file_attachments'],
  div[data-name='listing_image_gallery'],
  div[data-name='listing_standard_or_premium'],
  .acf-form-submit {
    display: none;
  }
}

.add-a-listing-wrap {
  &.page-1 {
    div[data-name='listing_type'],
    div[data-name='lease_type'],
    div[data-name='listing_address'],
    div[data-name='listing_city'],
    div[data-name='listing_state'],
    div[data-name='listing_zip'],
    div[data-name='listing_price'],
    div[data-name='listing_description'],
    div[data-name='listing_space_available'],
    div[data-name='listing_monthly_rent'],
    div[data-name='rental_rate_sf_month'] {
      display: block;
    }
  }
  &.page-2 {
    div[data-name='listing_mls_number'],
    div[data-name='listing_apn_parcel_id'],
    div[data-name='listing_building_size'],
    div[data-name='listing_lot_size'],
    div[data-name='listing_number_of_units'],
    div[data-name='listing_cap_rate'],
    div[data-name='listing_gross_income'],
    div[data-name='listing_operating_expenses'],
    div[data-name='listing_net_operating_income'],
    div[data-name='listing_number_of_parking_spaces'] {
      display: block;
    }
  }
  &.page-3 {
    div[data-name='listing_unit_mix'],
    div[data-name='rental_unit_mix'],
    div[data-name='listing_file_attachments'],
    div[data-name='listing_image_gallery'],
    div[data-name='listing_standard_or_premium'],
    .acf-form-submit {
      display: block;
    }
  }
}

.listing-choice {
  max-width: 350px;
  margin: 0 10px 30px;
  &:hover {
    opacity: 0.9;
  }
  a {
    color: #333;
    &:hover {
      color: #333;
    }
  }
  .choice-header {
    background-color: $brand-primary;
    color: #FFF;
    font-weight: 700;
    padding: 20px 0;
    text-align: center;
    font-size: 28px;
  }
  h3 {
    color: #222;
    text-align: center;
  }
  .details {
    border: 1px solid #DDD;
    border-top: none;
    background-color: #FDFDFD;
    padding: 10px 15px;
    ul {
      margin: 0;
      li {
        list-style-type: none;
        color: #333;
        border-top: 1px solid #EEE;
        padding: 8px 0;
        display: flex;
        align-items: center;
        i {
          margin-right: 10px;
          color: $brand-primary;
          font-size: 23px;
        }
      }
    }
  }
}

.add-listing-navigation {
  padding: 15px 0;
  text-align: center;
  .nav-button {
    padding: 10px 18px;
    background-color: #CCC;
    cursor: default;
    color: #FFF;
    font-weight: 700;
    margin: 0 10px;
    text-transform: uppercase;
    &:focus {
      outline: none;
    }
    i {
      margin: 0 5px;
    }
    span {
      margin: 0 5px;
    }
    &.enabled {
      cursor: pointer;
      background-color: $brand-primary;
      color: #FFF;
      &:hover {
        background-color: lighten($brand-primary, 5%);
      }
    }

    &.prev {

    }
    &.next {

    }
  }
}
