.agent-profile-flex {
  @media(min-width: $screen-sm) {
    display: flex;
    justify-content: space-between;
  }
  .agent-info-wrap {
    background-color: #FAFAFA;
    border: 1px solid #EEE;
    margin: 20px 0;

    &.testimonials, &.bio {
      padding: 15px;
    }
    .agent-info-wrap-inner {
      padding: 5px 15px 15px;
      background-color: #FAFAFA;
      border: 1px solid #EEE;
      text-align: center;
      font-weight: 600;
      h3 {
        font-size: 28px;
        margin: 0 0 5px;
        padding: 0 0 3px;
        border-bottom: 1px solid #EEE;
      }
      .company-logo {
        background-color: #FFF;
        padding: 10px;
        border: 1px solid #EEE;
        margin: 5px 0;
      }
    }

    h4 {
      color: #444;
      font-size: 23px;
    }
    .agent-headshot-wrap {
      img {
        width: 100%;
      }
    }

    .agent-agency {
      font-weight: 700;
      color: #555;
      font-size: 18px;
    }

    .agent-phone {
    }
    .agent-email {
    }

    .contact-me-wrap {
      padding: 20px 0;
      a.mp-button {
        margin: 0;
      }
    }
    .agent-social-media {
      margin-top: 5px;
      a {
        margin: 0 2px;
        i {
          font-size: 25px;
        }
      }
    }

    &.agent-head {
      background-color: transparent;
      border: none;
    }
    @media(min-width: $screen-sm) {
      flex: 0 1 22%;
      height: auto;
    }
  }
  .testimonials-bio-section {
    @media(min-width: $screen-sm) {
      flex: 0 1 76%;
    }
    h4 {
      margin: 0 0 3px;
      font-size: 17px;
    }
    .search-listings-wrap {
      text-align: center;
      height: auto;
      display: block;
      .search-listings-half {
        //margin: 0 auto;
        .snippet-outer-outer-wrap {
          margin: 20px 0;
          border-right: 1px solid #EEE;

          .image-wrap { // @todo something is weird about sizing the images like this
            position: relative;
            img {
              width: 100%;
              @media(min-width: $screen-sm) {
                width: auto;
                max-width: 275px;
                min-height: 197px;
              }
            }
          }
        }
      }
    }
  }
}