.agent-profile-flex {
  @media(min-width: $screen-sm) {
    display: flex;
    justify-content: space-between;
  }
  .agent-info-wrap {
    &.testimonials, &.bio {
      padding: 15px;
    }
    .agent-info-wrap-inner {
      padding: 5px 15px 15px;
      h3 {
        font-size: 28px;
        margin: 0 0 5px;
        padding: 0 0 3px;
        border-bottom: 1px solid #EEE;
      }
    }
    background-color: #FAFAFA;
    border: 1px solid #EEE;
    margin: 20px 0;

    h4 {
      color: #444;
      font-size: 23px;
    }
    .agent-headshot-wrap {
      img {
        //max-height: 200px;
        width: 100%;
      }
    }

    .agent-agency {
      font-weight: 700;
      color: #555;
      font-size: 18px;
    }

    .agent-phone {
    }
    .agent-email {
    }

    .contact-me-wrap {
      padding: 20px 0;
      a.mp-button {
        margin: 0;
      }
    }
    .agent-social-media {
      a {
        margin: 0 2px;
        i {
          font-size: 25px;
        }
      }
    }

    .agent-bio {

    }
    @media(min-width: $screen-sm) {
      flex: 0 1 22%;
    }
  }
  .testimonials-bio-section {
    @media(min-width: $screen-sm) {
      flex: 0 1 76%;
    }
    h4 {
      margin: 0 0 3px;
      font-size: 17px;
    }
  }
}