.profile-update-form-wrapper {
  background-color: #FAFAFA;
  border: 1px solid #EEE;
  //padding: 10px 10px 30px;
  padding: 20px;
  margin-bottom: 30px;
}

.profile-header {
  //padding: 0 20px;
  h3 {
    font-size: 20px;
    color: #444;
  }
  .agent-profile-links {
    color: #BBB;
    a {
    }
  }
  .agent-profile-top-buttons {
    //padding: 20px 0 0;
    a.button.secondary {
      background-color: #EEE;
      border-color: #DDD;
      color: #444;
      margin: 0 20px 15px 0;
      font-weight: 600;
      &:hover {
        background-color: #DDD;
      }
    }
  }
}

.mp-update-success {
  display: none;
}

.agent-update-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  //padding-bottom: 30px;
  .agent-input-wrap {
   padding: 5px 0;
    &.agent-text-wrap {
      flex: 0 1 23%;
    }
    &.agent-textarea-wrap {
      flex: 0 1 100%;
    }

    input {
      width: 100%;
      padding: 5px 8px;
      border: 1px solid #DDD;
      &:focus {
        outline: none;
        border-color: $brand-primary;
        box-shadow: none;
      }
    }
    textarea {
      border: 1px solid #DDD;
      box-shadow: none;
      min-height: 120px;
      resize: none;
    }
    label {
      color: #888;
    }
  }
}

.agent-update-submit-wrap {
  padding: 20px 0;
  a.mp-button {
    margin: 0;
  }
}

.logged-in-outer-wrap {
  @media(min-width: $screen-sm) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .logged-in-user-sidebar-wrap {
    padding: 0 10px;
    margin-bottom: 15px;
    @media(min-width: $screen-sm) {
      flex: 0 1 22%;
    }
  }
  .logged-in-user-content {
    padding: 15px;
    @media(min-width: $screen-sm) {
      flex: 0 1 76%;
      padding: 15px 5px;
    }

  }
}

.logged-in-user-sidebar-wrap {

  a.sidebar-option {
    background-color: #FAFAFA;
    //padding: 11px 15px 10px;
    padding: 9px 15px 8px;
    border: 1px solid #EEE;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #777;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 14px;
    &:hover {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
    span {
    }
    i {
      font-size: 20px;
      opacity: 0.5;
    }
  }
}

.menu-drop-down {

  .logged-in-user-sidebar-wrap {

    a.sidebar-option {
      //background-color: #FAFAFA;
      background-color: transparent;
      //padding: 11px 15px 10px;
      padding: 5px;
      //border: 1px solid #EEE;
      border: none;
      margin: 10px 0;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #777;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 12px;
      &:hover {
        color: $brand-primary;
        //background-color: $brand-primary;
        background-color: transparent;
        border: none;
      }
      span {
      }
      i {
        font-size: 20px;
        opacity: 0.5;
      }
    }
  }
}

.page-template-page-your-listings {
  .logged-in-user-sidebar-wrap {
    a.sidebar-option.your-listings {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
  .menu-drop-down {
    .logged-in-user-sidebar-wrap {
      a.sidebar-option.your-listings {
        color: $brand-primary;
        background-color: transparent;
        border: none;
      }
    }
  }
}


.page-template-page-saved-listings {
  .logged-in-user-sidebar-wrap {
    a.sidebar-option.saved-listings {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
  .menu-drop-down {
    .logged-in-user-sidebar-wrap {
      a.sidebar-option.saved-listings {
        color: $brand-primary;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.page-template-page-saved-searches {
  .logged-in-user-sidebar-wrap {
    a.sidebar-option.saved-searches {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
  .menu-drop-down {
    .logged-in-user-sidebar-wrap {
      a.sidebar-option.saved-searches {
        color: $brand-primary;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.page-template-page-add-new-listing-template, .page-template-page-add-new-listing-template-for-sale, .page-template-page-add-new-listing-template-for-lease, .page-template-page-add-new-listing-template-choice, .page-template-page-add-new-listing-complete {
  .logged-in-user-sidebar-wrap {
    a.sidebar-option.add-listing {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
  .menu-drop-down {
    .logged-in-user-sidebar-wrap {
      a.sidebar-option.add-listing {
        color: $brand-primary;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.page-template-page-user-profile-edit {
  .logged-in-user-sidebar-wrap {
    a.sidebar-option.update-profile {
      color: #FFF;
      background-color: $brand-primary;
      border-color: $brand-primary;
    }
  }
  .menu-drop-down {
    .logged-in-user-sidebar-wrap {
      a.sidebar-option.update-profile {
        color: $brand-primary;
        background-color: transparent;
        border: none;
      }
    }
  }
}

.user-listings-wrap {
  .logged-in-user-listing {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #EEE;
    font-size: 14px;
    font-weight: 600;
    color: #444;
    @media(min-width: $screen-sm) {
      font-size: 16px;
    }
    &.saved-search {
      //display: block;
      font-size: 12px;
      //overflow: hidden;
      //max-width: 800px;
      //text-overflow: ellipsis;
      @media(min-width: $screen-sm) {
        font-size: 14px;
      }
    }
    span.view-edit-links {
      a {
        margin: 0 10px;
        font-size: 13px;
        @media(min-width: $screen-sm) {
          font-size: 16px;
        }
      }
    }
  }
}
