.blog-wrap {
    .blog-post-wrap {
        h3 {
            border-bottom: 1px solid #F2F2F2;;
            padding-bottom: 5px;
            margin-bottom: 5px;
            a {
                //color: green;
            }
        }
        .blog-post-excerpt {
            //background-color: blue;
            margin-bottom: 20px;
        }
    }
}