.blog-wrap {
    padding: 20px 0;
    .blog-post-wrap {
        padding: 10px 10px 30px;
        @media(min-width: $screen-sm) {
            display: flex;
        }
        .blog-thumbnail {
            @media(min-width: $screen-sm) {
                flex: 0 1 30%;
            }
            &:hover {
                opacity: 0.9;
            }
            img {
                border: 1px solid #DDD;
            }
        }
        .blog-content {
            @media(min-width: $screen-sm) {
                flex: 1 1 70%;
                padding-left: 20px;
            }
            h3 {
                border-bottom: 1px solid #F2F2F2;
                padding-bottom: 5px;
                margin-bottom: 5px;
                margin-top: 10px;
                @media(min-width: $screen-sm) {
                    margin-top: 0;
                } 
            }
            .blog-post-excerpt {
                margin-bottom: 20px;
            }
        }
    }

    a.blog-read-more {
        font-size: 1.1em;
        font-weight: bold;
    }
}

header.entry-header-blog {
    h1 {
        font-size: 35px;
        margin-top: 30px;
    }
    span.posted-on {
        color: #555;
    }
}

.single.single-post {
    .entry-content {
        margin: 0;
    }
}

.comments-title {
    font-size: 20px;
    margin-bottom: 15px;
    color: #111;
}

h3#reply-title {
    font-size: 20px;
}

#commentform {
    input#submit {
        background: $brand-primary;
        color: #FFF;
        border-radius: 3px;
        padding: 10px 15px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 17px;
        margin: 0;
        border: none;
        &:hover {
          background: lighten($brand-primary, 5%);
        }
    }
}

.post-nav-wrap {
    background-color: #FAFAFA;
    border: 1px solid #EEE;
    padding: 10px 20px;
    margin-bottom: 15px;

    .navigation.post-navigation {
        margin: 0;
    }

    .nav-previous {
        &:before {
            content: '<< ';
            color: #CCC;
            //font-weight: bold;
        }
    }
    .nav-next {
        &:after {
            content: ' >>';
            color: #CCC;
            //font-weight: bold;
        }
    }
}
