// @todo remove all this - blocking top header right for about and contact
// temp file for compliance styles
body.page-template-page-homepage-template-compliance-php, body.page-id-6, body.page-id-9 {
  .header-right {
    display: none;
  }
}


input.compliance {
  text-align: center;
}
.page-template-page-homepage-template-compliance {
  //.header-right {
  //  display: none;
  //}
}

a.compliance-a-tag {
  flex: 1 1 15%;
}

// hide ridx compliance
div#recently-viewed.hjitb {
  display: none !important;
}