footer.site-footer {
  padding: 20px 0;
  @include header_footer_bg;
  .site-footer-inner {
    @media(min-width: $screen-sm) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include max_width;
    }

    .attribution {
      text-transform: uppercase;
      color: #555;
      text-align: center;
      .attribution-line {
        padding: 5px 0;
      }
      span.sep {
        display: none;
      }
      @media(min-width: $screen-sm) {
        display: flex;
        .attribution-line {
          padding: 0;
        }
        span.sep {
          display: block;
        }
      }
    }

    .social {
      display: flex;
      justify-content: center;
      a {
        margin: 0 10px;
        font-size: 28px;
      }
    }
  }
}


