.search-form-wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  .input-wrap {
    display: flex;
    align-items: center;
    background-color: #FFF;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    margin: 0 5px;
    &.one_fourth {
      flex: 1 1 25%;
    }
    &.three_fourths {
      flex: 1 1 75%;
    }
    i {
      font-size: 27px;
      padding: 0 5px;
      color: #222;
    }
    input {
      //padding: 10px 20px;
      flex: 1;
      border: none;
      box-shadow: none;
    }
  }
}
