.search-form-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 18px 15px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 15px;
  @media(min-width: $screen-sm) {
    display: flex;
    justify-content: space-between;
  }
  .input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #FFF;
    color: $form-text;
    @include form_text;
    font-size: 13px;
    padding: 5px;
    border-radius: 5px;
    margin: 15px 5px;
    position: relative;
    text-transform: uppercase;
    @media(min-width: $screen-sm) {
      margin: 0 5px;
    }
    //&.one_fourth {
    //  flex: 1 1 25%;
    //}
    //&.three_fourths {
    //  flex: 1 1 75%;
    //}
    //&.one_fifth {
    //  flex: 1 1 20%;
    //}
    //&.three_fifths {
    //  flex: 1 1 60%;
    //}
    //&.one_sixth {
    //  flex: 1 1 16%;
    //}
    //&.four_sixth {
    //  flex: 1 1 66%;
    //}
    &.status {
      flex: 1 1 18%;
    }
    &.property-type {
      flex: 1 1 23%;
    }
    &.main-input {
      flex: 1 1 44%;
    }
    &.submit-input {
      flex: 1 1 15%;
      background-color: $brand-primary;
      color: #FFF;
      font-weight: 700;
      font-size: 22px;
      &:hover {
        cursor: pointer;
        background-color: lighten( $brand-primary, 5%);
      }
    }
    i {
      font-size: 20px;
      padding: 0 5px;
      color: #555;
    }
    input {
      @include form_text;
      color: #222;
      margin: 0;
      border: none;
      box-shadow: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @include form_text;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      @include form_text;
    }
    :-ms-input-placeholder { /* IE 10+ */
      @include form_text;
    }
    :-moz-placeholder { /* Firefox 18- */
      @include form_text;
    }

    .dropdown-pane {
      max-width: 100%;
    }
  }
}

.dropdown-pane {
  padding: 0;
  left: 0 !important;
  //border: 1px solid #F4F4F4;
  ul {
    padding: 0;
    margin: 0;
    li {
      list-style-type: none;
      width: 100%;
      padding: 3px 15px;
      font-size: 13px;
      margin: 0;
      text-align: left;
      &:hover {
        cursor: pointer;
        background-color: #EEE;
      }
    }
  }
}
