.search-form-wrap {
  max-width: 900px;
  margin: 0 auto;
  padding: 18px 15px;
  background-color: rgba(0, 0, 0, 0.4);
  //background-color: rgba(255,255,255,0.2);
  //background-color: #CCC;
  border-radius: 15px;
  form {
    .main-form-inner {
      @media(min-width: $screen-sm) {
        display: flex;
        justify-content: space-between;
      }
    }
  }
  .input-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FFF;
    color: $form-text;
    @include form_text;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
    //margin: 15px 5px;
    margin: 15px 0;
    position: relative;
    text-transform: uppercase;
    min-height: 46px;
    //&.selected { //@todo not currently changing selected style
    //  color: $brand-primary;
    //}
    @media(min-width: $screen-sm) {
      //justify-content: space-around;
      margin: 0 5px;
    }
    &.status {
      @media(min-width: $screen-sm) {
        flex: 1 1 18%;
      }
    }
    &.property-type {
      @media(min-width: $screen-sm) {
        flex: 1 1 23%;
      }
    }
    &.main-input {
      @media(min-width: $screen-sm) {
        flex: 1 1 44%;
      }
    }
    i {
      font-size: 20px;
      padding: 0 5px;
      color: #888;
    }
    input {
      @include form_text;
      padding: 0;
      color: #000;
      margin: 0;
      border: none;
      box-shadow: none;
    }
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      @include form_text;
    }
    ::-moz-placeholder { /* Firefox 19+ */
      @include form_text;
    }
    :-ms-input-placeholder { /* IE 10+ */
      @include form_text;
    }
    :-moz-placeholder { /* Firefox 18- */
      @include form_text;
    }

    .dropdown-pane {
      max-width: 100%;
      top: 40px !important;
      @include form_text;
      padding: 0;
      left: 0;
      ul {
        padding: 0;
        margin: 0;
        li {
          list-style-type: none;
          width: 100%;
          padding: 4px 15px;
          font-size: 13px;
          margin: 0;
          text-align: left;
          &:hover {
            cursor: pointer;
            background-color: #EEE;
          }
          &.selected {
            background-color: $brand-primary;
            color: #FFF;
          }
        }
      }
    }
  }
  input.submit-input {
    @include form_text;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    text-transform: uppercase;
    min-height: 46px;
    border: none;
    background-color: $brand-primary;
    color: #FFF;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    @media(min-width: $screen-sm) {
      flex: 1 1 15%;
      margin: 0 5px;
    }
    &:hover {
      cursor: pointer;
      background-color: lighten($brand-primary, 5%);
    }
  }

  // hide reset value to start
  .property-type .dropdown-pane ul li.default-choice {
    display: none;
  }
}

// changing to search-form-wrap-snippets?
.search-listings-half {
  .search-form-wrap-snippets {
    form {
      .main-form-inner {
        margin: 15px;
        //padding: 10px;
        @media(min-width: $screen-sm) {
          display: flex;
          justify-content: space-between;
        }
      }
    }
    .input-wrap {
      padding: 0 5px;
      &.status {
        @media(min-width: $screen-sm) {
          flex: 1 1 18%;
        }
      }
      &.property-type {
        @media(min-width: $screen-sm) {
          flex: 1 1 27%;
        }
      }
      &.main-input {
        @media(min-width: $screen-sm) {
          flex: 1 1 40%;
        }
      }
      input, select {
        @include form_text_snippet;
        padding-left: 10px;
        margin: 0;
        //padding: 0;
        //color: #000;
        //margin: 0;
        //border: none;
        border-radius: 0;
        box-shadow: none;
      }

      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        @include form_text_snippet;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        @include form_text_snippet;
      }
      :-ms-input-placeholder { /* IE 10+ */
        @include form_text_snippet;
      }
      :-moz-placeholder { /* Firefox 18- */
        @include form_text_snippet;
      }
    }
    input.submit-input {
      display: block;
      padding: 5px 10px;
      border-radius: 0;
      text-transform: uppercase;
      border: none;
      background-color: $brand-primary;
      color: #FFF;
      font-weight: 700;
      font-size: 14px;
      @media(min-width: $screen-sm) {
        margin: 0 5px;
      }
      &:hover {
        background-color: lighten($brand-primary, 5%);
      }
    }

    // hide reset value to start
    .property-type .dropdown-pane ul li.default-choice {
      //display: none;
    }
  }
}

.search-form-wrap-snippets {
  border-top: 1px solid darken(#EEE, 3%);
  border-bottom: 1px solid darken(#EEE, 3%);

  .advanced-options-wrap {
    padding: 0 20px 15px;

    a.toggle-advanced-options {
      margin: 0 10px;
    }
    .advanced-options-toggle {
      display: none;
      background-color: #F3F3F3;
      border: 1px solid #DDD;
      padding: 10px;
      margin: 10px 0;
      flex-wrap: wrap;

      &.open {
        display: flex;
      }

      .advanced-options-item {
        flex: 0 1 50%;
        h5 {
          font-size: 14px;
          margin: 5px 13px 0;
          color: #777;
        }
        .advanced-options-inputs {
          display: flex;
          padding: 0 5px;
          select, input {
            //margin: 10px 5px;
            //border-radius: 0;
            //box-shadow: none;
          }
        }
      }
    }
  }
}

.input-style-snippet-wrap {
  input, select {
    @include form_text_snippet;
    font-size: 12px;
    margin: 10px 5px;
    box-shadow: none;
    border-radius: 0;
    text-transform: uppercase;
  }
  input {
    padding: 5px 10px;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    @include form_text_snippet;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    @include form_text_snippet;
  }
  :-ms-input-placeholder { /* IE 10+ */
    @include form_text_snippet;
  }
  :-moz-placeholder { /* Firefox 18- */
    @include form_text_snippet;
  }

}
