.marketpier-logo {
  color: blue;
  font-size: 30px;
  padding: 10px;
  //font-family: 'Work Sans';
  font-family: 'Open Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
  span {
    padding: 2px 5px;
  }
  span:first-child {
    color: $brand-primary;
    background-color: #DDD;
  }
  //span:nth-child(2) {
  //  //color: $brand-primary;
  //  //color: darken( $brand-primary, 5% );
  //  font-weight: 600;
  //  color: #AAA;
  //  font-size: 0.9em;
  //  //color: $brand-second;
  //  display: none;
  //}
  span:nth-child(2) {
    //color: $brand-primary;
    color: darken( $brand-primary, 5% );
    background-color: #EEE;
    //color: $brand-second;
  }
}