header#masthead {
  @include header_footer_bg;
  border-bottom: 1px solid #F4F4F4;
  //background-color: #FAFAFA;
  .header-inner {
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include max_width;
  }
}

.marketpier-logo {
  font-size: 30px;
  padding: 10px;
  //font-family: 'Open Sans';
  font-family: 'Libre Baskerville';
  font-weight: 700;
  a {
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  span {
    color: $logo-color;
    display: block;
  }
  i {
    //margin: 5px 3px 0;
    margin: 0 0 0 3px;
    color: #AAA;
    font-size: 31px;
    display: block;
  }
  //span:first-child {
  //  color: $logo-color;
  //}
  //span:nth-child(2) {
  //  color: $logo-color;
  //  //color: lighten( $logo-color, 10% );
  //}
}

.header-right {
  display: flex;
  align-items: center;

  .sign-in-links {
    margin: 0 5px;
    a {
      color: #333;
      &:hover {
        color: $brand-primary;
      }
    }
    sep {
      color: #AAA;
    }
  }
}

button.mp-button {
  background: $brand-primary;
  color: #FFF;
  border-radius: 5px;
  padding: 10px 15px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  margin: 0 5px;
  &:hover {
    background: lighten($brand-primary, 5%);
  }
}

//<div class="header-right">
//<div class="sign-in-links">
//<a href="#">Log In</a>
//<sep>|</sep>
//<a href="#">Sign In</a>
//</div>
//<button class="mp-button">Create Listing</button>

