header#masthead {

  border-bottom: 1px solid #111;
  background-image: url('../)

  .header-inner {
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;

    nav {
      margin: 0 15px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      li {
        a {
          color: #333;
          text-transform: uppercase;
          font-family: 'Open Sans';
          font-weight: 600;
          &:hover {
            color: $brand-primary;
          }
        }
      }
    }
  }

}



.marketpier-logo {
  color: blue;
  font-size: 30px;
  padding: 10px;
  font-family: 'Open Sans';
  font-weight: 700;
  display: flex;
  align-items: center;
  a {
    text-decoration: none;
  }
  span:first-child {
    color: $brand-primary;
  }
  span:nth-child(2) {
    color: darken( $brand-primary, 5% );
  }
}

