.landing-page-wrap {

	.landing-header-image {
	  min-height: 250px;
	  background-position: center;
	  background-size: cover;
	  padding: 30px 0 50px;
	}

	header.entry-header {

		padding-bottom: 0;

		// h1.landing-title {
		// 	font-size: 2.9em;
		// 	text-align: left;
		// 	margin-bottom: 0;
		// 	color: #FFF;
		// 	padding: 0 15px;
		// 	text-align: center;
		// 	text-shadow: 1px 1px rgba(0,0,0,0.6);
		// }

	}


	.related-searches {
		//padding: 15px 0 25px;
		padding: 15px;
		background-color: #FCFCFC;
		border: 1px solid #E9E9E9;
		margin: 15px 0;

		h3 {
			font-size: 1.7em;
		}

		.related-searches-flex {
			padding-top: 10px;
			@media(min-width: $screen-md) {
				display: flex;
				flex-wrap: wrap;
				//justify-content: space-between;

			}
			a {
				//background: #F7F7F7;
				//border: 1px solid #EEE;
				//border-radius: 5px;
				padding: 5px;
				margin-bottom: 15px;
				font-weight: bold;
				font-size: 0.9em;
				//text-align: center;
				display: block;
				@media(min-width: $screen-md) {
					flex: 0 1 31%;	
					margin: 0 1% 2%;
				}
				&:hover {
					text-decoration: underline;
					//background-color: $brand-primary;
					//border-color: $brand-primary;
					//color: #FFF;
				}
			}

		}
	}

	.lower-content-area {

		.content-area {

			padding-bottom: 5px;

			h2, h3, h4 {
				margin-bottom: 7px;
				padding: 0;
			}
			h2 {
				font-size: 2em;
			}
			h3 {
				font-size: 1.7em;
			}
			h4 {
				font-size: 1.4em;
			}
		}
	}

	.search-wrap {

		padding: 20px 0;
		background: rgba(255,255,255,0.9);
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #EEE;
		margin: 30px 15px 0;
		@media(min-width: $screen-md) {
			margin: 30px auto 0;
			max-width: 50%;
		}

		h1 {
			text-align: center;
			color: #222;
			font-size: 1.3em;
			margin-top: 0;
			@media(min-width: $screen-sm) {
				font-size: 1.6em;
			}
			@media(min-width: $screen-md) {
				font-size: 1.7em;
			}
		}

		.search-form-wrap-snippets {
			
			border-bottom: none;

			a.save-search-link {
				display: none;
			}
			.advanced-options-wrap {
				text-align: center;
				@media(min-width: $screen-sm) {
					text-align: left;
				}
			}
		}

	}


}

