.landing-page-wrap {

	.landing-header-image {
	  height: 250px;
	  background-position: center;
	  background-size: cover;
	}

	.related-searches {
		padding: 15px 0 25px;
		.related-searches-flex {
			@media(min-width: $screen-md) {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;

			}
			a {
				background: #F7F7F7;
				border: 1px solid #EEE;
				border-radius: 5px;
				padding: 20px;
				margin-bottom: 20px;
				font-weight: bold;
				font-size: 1.1em;
				text-align: center;
				display: block;
				@media(min-width: $screen-md) {
					flex: 0 1 49%;	
					margin-bottom: 2%;
				}
				&:hover {
					background-color: $brand-primary;
					border-color: $brand-primary;
					color: #FFF;
				}
			}

		}
	}

	.lower-content-area {

		.content-area {

			h3 {}
		}
	}

	.search-wrap {

		padding: 20px 0;

		.search-form-wrap-snippets {
			
			border-bottom: none;

			a.save-search-link {
				display: none;
			}
		}

	}


}

