body {
  background-color: #FFF;
  font-family: 'Open Sans';
  font-weight: 500;
  a, a:visited {
    color: $brand-primary;
    text-decoration: none;
    &:hover {
      color: lighten($brand-primary, 5%);
    }
  }
}