html, body {
  height: 100%;
}

h1, h2, h3, h4, h5 {
  font-family: 'Open Sans';
  font-weight: 700;
}

body {
  font-family: 'Open Sans';
  font-weight: 500;
  background-color: #FDFDFD;
  div#page.site {
    @media(min-width: $screen-sm) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      div#content.site-content {
        flex: 1;
      }
    }
  }
  a, a:visited {
    color: $brand-primary;
    text-decoration: none;
    &:hover {
      color: lighten($brand-primary, 5%);
    }
  }
}

div.tos-cation-0 {
  opacity: 0;
}

header.entry-header {
  h1.entry-title {
    color: #111;
    font-size: 40px;
    text-transform: uppercase;
    border-bottom: 1px solid #F2F2F2;
    margin: 30px 0 5px;
    padding-bottom: 1px;
  }
}

.marketpier-fav-logo {
  font-family: 'Libre Baskerville';
  font-weight: 700;
  font-size: 23px;
}
