/**
* Backgrounds
**/
@mixin header_footer_bg() {
  //background-image: url('../img/square_bg.png'); // 504 x 460 // 252 x 230
  //background-size: 252px 230px;
  background: #EEE url('../img/shattered-light.png'); // 1000 x 1000
  background-size: 100px 100px;
}

@mixin max_width() {
  max-width: 1100px;
  margin: 0 auto;
}
