nav.main-navigation {

  margin: 0 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  ul {
    li {
      a {
        margin: 0 10px;
        color: $brand-primary;
        color: #AAA;
        text-transform: uppercase;
        font-family: 'Open Sans';
        font-weight: 700;
        &:hover {
          color: lighten($brand-primary, 5%);
        }
      }
    }
  }
}