.page-content-wrap {
  @include max_width(1100px);
  @media(max-width: 991px) {
    padding: 3px 15px;
  }
}

.about-page-middle-text {
  h2 {
    margin: 50px 0;
    text-align: center;
    font-size: 27px;
    @media(min-width: $screen-md) {
      font-size: 50px;
    }
  }
}