.search-listings-wrap {
  @media(min-width: $screen-md) {
    display: flex;
    height: 88vh;
  }
  .search-listings-half {
    &.map-half {
      background-color: #EEE;
      //background-image: url('../img/google-map-bg.jpg');
      background-size: cover;
      //background-color: red;
      height: 100%;
      @media(min-width: $screen-md) {
        flex: 0 1 50%;
      }
      .google-map-outer-wrapper {
        position: relative;
        height: 100%;
        .map-spinner-div {
          position: absolute;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          i {
            font-size: 60px;
            color: #000;
            opacity: 0.3;
          }
        }
        #map {
          height: 100%;
          min-height: 500px;
        }
      }
    }
    &.snippet-half {
      background: #EEE;
      @media(min-width: $screen-md) {
        flex: 0 1 50%;
        overflow: scroll;
      }
    }
  }
}

// snippets
.snippet-outer-outer-wrap {
  position: relative;
  @media(min-width: $screen-sm) {
    max-width: 500px;
    margin: 30px auto;
  }
  @media(min-width: $screen-md) {
    max-width: none;
    margin: 0;
  }
  .contact-wrap {
    position: absolute;
    z-index: 2;
    top: 10px;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    a.contact-link {
      color: #FFF;
      text-transform: uppercase;
      padding: 10px;
      text-shadow: 1px 1px rgba(0, 0, 0, 0.3);
      @media(min-width: $screen-md) {
        color: $brand-primary;
        text-shadow: none;
      }
      i.fa-spin {
        margin-left: 5px;
        opacity: 0;
      }
      span {
        display: none;
      }
      &.saved {
        color: $brand-third;
        span {
          display: inline;
        }
      }

      &:hover {
        color: lighten($brand-primary, 5%);
      }
    }
  }
}

a.snippet-link-outer {
  color: #222 !important;
  &:hover, &:visited {
    color: #222;
  }
  &:hover {
    .snippet-outer-wrap {
      opacity: 0.9;
    }
  }
  .snippet-outer-wrap {
    border-top: 1px solid #EEE;
    border-bottom: 1px solid #EEE;
    //border-bottom: 1px solid #DDD;
    background-color: #FAFAFA;

    @media(min-width: $screen-md) {
      display: flex;
    }
    &:last-child {
      //border: none;
    }
    .image-wrap { // @todo something is weird about sizing the images like this
      position: relative;
      //width: 300px; //@todo media query or percent? remove img?
      //height: 180px;
      width: 100%;
      height: 240px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      @media(min-width: $screen-md) {
        width: 320px;
        height: 160px;
      }
      .status-bar {
        position: absolute;
        height: 30px;
        width: 100%;
        padding: 0 15px;
        background: rgba(0, 0, 0, 0.2);
        color: #FFF;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
        font-weight: 700;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 13px;
        text-transform: uppercase;
        @media(min-width: $screen-md) {
          justify-content: center;
        }
      }
      //img { // @todo use the background image method instead...
      //  //max-height: 200px;
      //  //min-width: 100px;
      //  width: 100%;
      //  @media(min-width: $screen-md) {
      //    width: auto;
      //    //max-width: 275px;
      //    max-width: 210px;
      //    //min-height: 197px;
      //    min-height: 150px;
      //  }
      //}
      .image-overlay {
        position: absolute;
        z-index: 1;
        @include background_gradient;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        //justify-content: space-between;
        //.image-overlay-heart {
        //  padding: 10px;
        //  text-align: right;
        //  i {
        //    font-size: 26px;
        //  }
        //}
        .image-overlay-text {
          padding: 8px 15px;
          h3 {
            font-size: 17px;
            color: #FFF;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            @media(min-width: $screen-md) {
              font-size: 14px;
            }
          }
          h5 {
            font-size: 12px;
            color: #FFF;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            margin: 0;
          }
        }
      }
    }

    .right-side-outer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      padding-right: 20px;
      .top-line {
        padding: 15px 20px;
        font-size: 14px;
        color: #AAA;
        text-align: left;
        @media(min-width: $screen-md) {
          padding: 5px 20px;
        }
      }
      .details-wrap {
        padding: 5px 15px;
        display: flex;
        flex-wrap: wrap;
        //justify-content: space-between;
        width: 100%;
        @media(min-width: $screen-md) {
          //justify-content: flex-start;
        }
        .details-item-wrap {
          text-align: center;
          flex: 0 1 33.3%;
          padding: 10px 0;
          @media(min-width: $screen-md) {
            flex: 0 1 17%;
            padding: 0;
          }
          .details-item {
            color: #222;
            font-weight: 700;
            padding: 0 10px;
            font-size: 14px;
            @media(min-width: $screen-md) {
              font-size: 11px;
            }
            @media(min-width: $screen-lg) {
              font-size: 14px;
            }
          }
          label {
            color: #999;
            font-weight: 600;
            font-size: 12px;
          }
        }
        sep {
          color: #CCC;
          flex: 0 1 2%;
          display: none;
          @media(min-width: $screen-md) {
            display: block;
          }
        }
      }
      .bottom-line {
        padding: 5px 15px;
        display: flex;
        font-size: 14px;
        justify-content: flex-end;
        color: #AAA;
      }
    }
  }
}

.no-search-results {
  font-size: 18px;
  margin: 30px;
}

.search-pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
  background-color: #E7E7E7;
  //border: 1px solid #DADADA;
  //border-top: 1px solid #DADADA;
  border-bottom: 1px solid #DDD;
  color: #444;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 13px;
  .total-results {
  }
  .nav-link {
    opacity: 0.4;
    &.active {
      cursor: pointer;
      opacity: 1;
      &:hover {
        color: $brand-primary;
      }
    }
    &.prev-page {

    }
    &.next-page {

    }
  }
}

.search-active-sold-wrap {
  padding: 15px 0 0;
  margin: 0 21px;
  display: flex;
  justify-content: space-between;
  a.active-sold-link {
    //margin: 0 8px;
    padding: 5px;
    background-color: #999;
    border: 3px solid #999;
    color: #FFF;
    text-align: center;
    font-weight: 700;
    font-size: 11px;
    flex: 0 1 31%;
    text-transform: uppercase;
    @media(min-width: $screen-md) {
      flex: 0 1 27%;
      font-size: 13px;
    }
    &:hover {
      background-color: $brand-primary;
      border-color: $brand-primary;
      color: #FFF;
    }
    &.current {
      //background-color: lighten($brand-primary, 8%);
      background-color: $brand-primary;
      border-color: $brand-primary;
      &:hover {
        cursor: default;
        //background-color: lighten( $brand-primary, 5%);
      }
    }
  }
}

//@todo temporary - remove sold listings
.search-active-sold-wrap {

  .active-sold-link.sold-link {
    display: none;
  }
}
