.search-listings-wrap {
  @media(min-width: $screen-sm) {
    display: flex;
    height: 88vh;
  }
  .search-listings-half {
    &.map-half {
      background-color: #EEE;
      flex: 0 1 50%;
      .google-map-outer-wrapper {
        //background-color: #EEE;
        height: 100%;
        #map {
          height: 100%;
        }
      }
    }
    &.snippet-half {
      background: #EEE;
      @media(min-width: $screen-sm) {
        flex: 0 1 50%;
        overflow: scroll;
      }
    }
  }
}

// snippets
a.snippet-link-outer {
  color: #222 !important;
  &:hover, &:visited {
    color: #222;
  }
  &:hover {
    .snippet-outer-wrap {
      opacity: 0.9;
    }
  }
  .snippet-outer-wrap {
    border-bottom: 1px solid #EEE;
    background-color: #FAFAFA;
    @media(min-width: $screen-sm) {
      display: flex;
    }
    &:last-child {
      //border: none;
    }
    .image-wrap { // @todo something is weird about sizing the images like this
      position: relative;
      img {
        //max-height: 200px;
        //min-width: 100px;
        width: 100%;
        @media(min-width: $screen-sm) {
          width: auto;
          max-width: 275px;
          min-height: 197px;
        }
      }
      .image-overlay {
        position: absolute;
        z-index: 100;
        @include background_gradient;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        .image-overlay-text {
          padding: 8px 15px;
          h3 {
            font-size: 18px;
            color: #FFF;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
          }
          h5 {
            font-size: 13px;
            color: #FFF;
            text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
            margin: 0;
          }
        }
      }
    }

    .right-side-outer {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 100%;
      padding-right: 20px;
      .top-line {
        padding: 5px 15px;
        display: flex;
        font-size: 14px;
        justify-content: flex-end;
        color: #AAA;
        .contact-link {
          color: $brand-primary;
          text-transform: uppercase;
        }
      }
      .details-wrap {
        padding: 5px 15px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        .details-item-wrap {
          text-align: center;
          .details-item {
            color: #222;
            font-weight: 700;
            padding: 0 10px;
            font-size: 16px;
          }
          label {
            color: #999;
            font-weight: 600;
            font-size: 13px;
          }
        }
        sep {
          color: #CCC;
        }
      }
      .bottom-line {
        padding: 5px 15px;
        display: flex;
        font-size: 14px;
        justify-content: flex-end;
        color: #AAA;
      }
    }

  }
}

