.single-listing-wrap {
  @include max_width(1250px);
  padding: 10px;
  margin: 40px auto;
  background-color: #FFF;
  border: 1px solid #EEE;
  font-family: 'Open Sans';
  font-weight: 500;
  @media(min-width: $screen-md) {
    display: flex;
    flex-wrap: wrap;
  }
  .single-listing-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media(min-width: $screen-md) {
      width: 50%;
    }
    h2 {
      color: #222;
      font-size: 24px;
      line-height: 40px;
      font-weight: 600;
      font-family: 'Open Sans'; // @todo control this globally?
      margin-bottom: 0;
      padding-bottom: 0;
      @media(min-width: $screen-md) {
        font-size: 30px;
      }
      &.address {
        font-size: 17px;
        @media(min-width: $screen-md) {
          font-size: 25px;
        }
      }
    }
    .address-details {
      color: #AAA;
    }

    .listing-price {
      color: $brand-primary;
      font-size: 25px;
      font-weight: 600;
      margin: 10px 0;
      padding: 0;
      span {
        font-size: 20px;
        color: #999;
        font-weight: 500;
      }
      &.no-price {
        font-size: 20px;
      }
      @media(min-width: $screen-md) {
        font-size: 35px;
        span {
          font-size: 25px;
        }
        &.no-price {
          font-size: 30px;
        }
      }
    }

    .apn-parcel-id {
      margin-bottom: 20px;
      .parcel-label {
        color: #888;
        font-size: 16px;
        padding-bottom: 3px;
      }
      .number {
        color: #444;
        font-size: 14px;
      }
    }

    .save-link {
      font-size: 17px;
      margin-bottom: 20px;
      i {
        font-size: 15px;
      }
    }
    .save-share-links {
      margin-bottom: 15px;
      @media(min-width: $screen-sm) {
        display: flex;
        //justify-content: space-between;
        align-items: center;
      }
      a {
        //display: block;
        font-size: 14px;
        @media(min-width: $screen-sm) {
          font-size: 17px;
        }
        //padding-bottom: 200px;
        margin: 0 10px;
        &.profile-link {
          margin-left: 25px;
        }
        &:focus {
          outline: none;
        }
        i {
          font-size: 15px;
          &.fa-spin {
            //display: none;
            opacity: 0;
            font-size: 17px;
            margin-left: 5px;
          }
        }
      }
      .save-link {
        span {
          display: none;
        }
        &.saved {
          color: $brand-third;
          span {
            display: inline;
          }
        }
      }

      .company-logo-wrap {
        display: block;
        margin: 20px 0;
        width: 100%;
        text-align: center;
        @media(min-width: $screen-sm) {
          width: auto;
          margin: 0;
        }
        img {
          max-width: 140px;
          max-height: 70px;
        }
      }

    }

  }

  .single-listing-right-side-wrap {
    //height: 0%;
    padding: 10px;
    @media(min-width: $screen-md) {
      display: flex;
      width: 49%;
      flex-wrap: wrap;
    }
    .all-images-outer-wrap {
      width: 100%;
      //height: 0%;
      @media(min-width: $screen-md) {
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
      }

      .image-wrap-outer {
        display: flex;
        flex-direction: column;
        @media(min-width: $screen-md) {
          height: 300px; // @todo replace this? or use media queries? try percentage height? test on large monitor
          justify-content: center;
          flex-wrap: wrap;
          &.wrap-1 {
            flex: 0 1 66.6%;
          }
          &.wrap-2 {
            flex: 0 1 33.4%;
          }
          &.wrap-3 {
            height: 120px;
            flex: 0 1 100%;
            flex-direction: row;
            justify-content: flex-start;
          }
        }
      }
      a.image-container-wrap {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        //@media(max-width: 767px) {
        @media(max-width: 991px) {
          padding-bottom: 70%;
          margin: 10px 0;
        }
        &:hover {
          opacity: 0.8;
          cursor: pointer;
        }
        @media(min-width: $screen-md) {
          flex: 0 1 98.5%;
          &.image-1 {
            flex: 0 1 98.5%;
            margin: 0.75%;
          }
          &.image-2, &.image-3 {
            flex: 0 1 48.4%;
            margin: 0.8% 1.4%;
          }
          &.image-4, &.image-5, &.image-6, &.image-7 {
            flex: 0 1 24%;
            margin: 0.3% 0.5%;
          }
        }
      }
      &.number-images-1 {
        .image-wrap-outer {
          @media(min-width: $screen-md) {
            &.wrap-1 {
              flex: 0 1 100%;
            }
          }
        }
      }

      &.number-images-2 {
        a.image-container-wrap {
          @media(min-width: $screen-md) {
            &.image-2 {
              flex: 0 1 98%;
            }
          }
        }
      }
    }
  }
  .unit-mix-outer {
    margin: 20px 0 0;
    font-size: 12px;
    .unit-mix-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 10px 0;
      background-color: #FBFBFB;
      border: 1px solid #F1F1F1;
      padding: 8px 15px 9px;
      .unit-mix-item {
        color: #555;
        font-weight: 700;
        flex: 0 1 36%;
        margin-top: 7px;
        margin-bottom: 7px;
        @media(min-width: $screen-md) {
          margin-top: 0;
          margin-bottom: 0;
          flex: 0 1 18%;
        }
        &.unit-mix-plan {
          flex: 0 1 50%;
          @media(min-width: $screen-md) {
            flex: 0 1 25%;
          }
        }
        &.unit-mix-units, &.unit-mix-beds, &.unit-mix-baths {
          flex: 0 1 25%;
          @media(min-width: $screen-md) {
            flex: 0 1 13%;
          }
        }
        label {
          color: #999;
          font-size: 11px;
          margin-bottom: 3px;
        }
        .unit-mix-value {
        }
      }
    }
  }
}
.disclaimer-wrapper {
  max-width: 1220px;
  padding: 0 20px 20px;
  margin: 0 auto;
  color: #999;
  font-size: 12px;
}

.description {
  font-size: 14px;
}

h5.section-title {
  color: #888;
  padding-bottom: 1px;
  font-size: 19px;
  @include listing_border_bottom;
}

.details-wrap-outer {
  margin-top: 20px;
  .details-wrap {
    @media(min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .detail {
      width: 100%;
      padding: 0 1px 10px;
      font-size: 14px;
      flex: 0 1 50%;
      display: flex;
      justify-content: space-between;
      .detail-label {
        color: #999;
        flex: 1 1 45%;
      }
      .detail-content {
        color: #444;
        flex: 1 1 55%;
      }
    }
  }
}

.google-map-wrapper {
  //flex: 1;
  width: 100%;
  height: 420px;
  padding: 10px;
  .google-map-inner-wrapper {
    height: 400px;
    #map {
      height: 400px;
    }
  }
}

// listing agent form
.listing-agent-form-wrap {
  font-family: 'Open Sans';
  width: 100%;
  padding: 12px 15px 15px;
  border: 1px solid #DDD;
  text-align: center;
  margin: 15px 0;
  h3 {
    color: #444;
    font-size: 20px;
    margin: 0 0 10px;
  }
  @media(min-width: $screen-md) {
    margin: 30px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input, textarea {
      font-size: 14px;
      border-radius: 0;
      border-color: #DDD;
      box-shadow: none;
      padding: 3px 10px;
      flex: 1 1 100%;
      &.name, &.phone {
        flex: 0 1 49%;
      }
    }

    input.submit {
      background-color: $brand-primary;
      font-family: 'Open Sans', 'sans-serif';
      font-weight: 700;
      color: #FFF;
      border: none;
      padding: 13px 15px;
      font-size: 15px;
      //border-radius: 5px;
      @media(min-width: $screen-md) {
        //max-width: 40%;
        margin: 0 auto;
        flex: 0 1 auto;
      }
      &:hover {
        background-color: lighten($brand-primary, 5%);
      }
    }

    .agent-choice-wrap {
      margin-bottom: 15px;
      display: flex;
      flex: 1 1 100%;
      @media(min-width: $screen-md) {
        flex: 1 1 50%;
      }
      &.one-link {
        @media(min-width: $screen-md) {
          flex: 1 1 100%;
          padding: 0 18%;
        }
      }
      .agent-radio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 15%;
        i {
          font-size: 18px;
          transition: 0.1s;
        }
      }
      .agent-choice {
        display: flex;
        padding: 5px;
        border: 1px solid #DDD;
        flex: 1 1 85%;
        .avatar-wrap {
          flex: 0 1 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #EEE;
          i {
            font-size: 30px;
          }
        }
        .details-wrap {
          flex: 0 1 75%;
          text-align: left;
          padding-left: 10px;
          .agent-name {
            color: #333;
            &.marketpier {
              font-family: 'Libre Baskerville';
              font-weight: 700;
            }
          }
          .broker-name {
            color: #AAA;
          }
          .agent-email {
            display: none;
          }
        }
      }
      &:hover {
        cursor: pointer;
        .agent-choice {
          border: 1px solid $brand-primary;
        }
        .agent-radio {
          i {
            color: $brand-primary;
          }
        }
      }
      &.active {
        .agent-choice {
          border: 2px solid $brand-primary;
          padding: 4px;
        }
        .agent-radio {
          i {
            color: $brand-primary;
            &:before {
              content: "\f192";
            }
          }
        }
      }
    }
  }
}

.file-attachments-wrap {
  margin-top: 20px;
  .file-attachment {
    padding: 5px 0;
    a {
      font-size: 14px;
    }
  }
}

.gallery-hidden-images {
  display: none;
}

.listing-agent-attribution-wrap {
  @media(min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
  }
  .listing-agent-attribution {
    margin: 20px 0 30px;
    background-color: #FCFCFC;
    border: 1px solid #EEE;
    color: #333;
    font-size: 12px;
    width: auto;
    @media(min-width: $screen-md) {
      flex: 0 1 47%;
      margin: 15px 0;
    }
    .listing-agent-attribution-inner-wrap {
      padding: 5px 0;
    }
    .title-block {
      padding: 5px 10px;
      text-align: center;
      color: #444;
      font-weight: 600;
      background: rgba(0, 0, 0, 0.03);
    }
    .listing-agent-item {
      padding: 3px 15px;
      &.agent-name {
        font-size: 14px;
        font-weight: 600;
      }
      &.office-name {
        font-size: 14px;
      }
      //display: flex;
      //span {
      //  color: #777;
      //  margin-right: 10px;
      //  width: 100px;
      //  text-align: right;
      //  flex: 0 1 18%;
      //}
    }
  }
}
