.single-listing-wrap {
  @include max_width(1250px);
  padding: 10px;
  margin: 40px auto;
  background-color: #FFF;
  border: 1px solid #EEE;
  font-family: 'Open Sans';
  font-weight: 500;
  @media(min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
  }
  .single-listing-details {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    @media(min-width: $screen-sm) {
      width: 50%;
    }
    h2 {
      color: #222;
      font-size: 30px;
      line-height: 40px;
      font-weight: 600;
      font-family: 'Open Sans'; // @todo control this globally?
      margin-bottom: 0;
      padding-bottom: 0;
      //@include listing_border_bottom;
      //padding-bottom: 5px;
      //margin-bottom: 15px;
    }
    .address-details {
      color: #AAA;
      //margin-bottom: 20px;
    }

    .listing-price {
      color: $brand-primary;
      font-size: 35px;
      font-weight: 600;
      margin: 10px 0;
      padding: 0;
    }

    .apn-parcel-id {
      margin-bottom: 20px;
      .parcel-label {
        color: #888;
        font-size: 16px;
        padding-bottom: 3px;
      }
      .number {
        color: #444;
        font-size: 14px;
      }
    }

    .save-link {
      font-size: 17px;
      margin-bottom: 20px;
      i {
        font-size: 15px;
      }
    }
    .save-share-links {
      margin-bottom: 15px;
      a {
        font-size: 17px;
        padding-bottom: 200px;
        margin: 0 10px;
        &:focus {
          outline: none;
        }
        i {
          font-size: 15px;
          &.fa-spin {
            //display: none;
            opacity: 0;
            font-size: 17px;
            margin-left: 5px;
          }
        }
      }
      .save-link {
        span {
          display: none;
        }
        &.saved {
          color: $brand-third;
          span {
            display: inline;
          }
        }
      }

    }

  }

  .single-listing-gallery {
    height: 0%;
    padding: 10px;
    @media(min-width: $screen-sm) {
      display: flex;
      width: 50%;
      flex-wrap: wrap;
    }
    img {
      border: 1px solid #EEE;
      &:hover {
        opacity: 0.8;
        cursor: pointer;
      }
    }
    .image-wrap {
      display: flex;
      padding: 0.5%;
      justify-content: space-between;
      align-items: flex-start;
      background-color: #FFF;
    }
    .image-wrap-1 {
      flex: 0 1 66.6%;
    }
    .image-wrap-2 {
      flex: 0 1 33.3%;
      flex-direction: column;
    }
    .image-wrap-3 {
      .single-gallery-image {
        flex: 0 1 49.5%;
      }
    }
    .image-wrap-4 {
      .single-gallery-image {
        flex: 0 1 24.5%;
      }
    }
  }
  .unit-mix-outer {
    margin: 20px 0 0;
    font-size: 12px;
    .unit-mix-row {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin: 10px 0;
      background-color: #FBFBFB;
      border: 1px solid #F1F1F1;
      padding: 8px 15px 9px;
      .unit-mix-item {
        color: #555;
        font-weight: 700;
        flex: 0 1 36%;
        margin-top: 7px;
        margin-bottom: 7px;
        @media(min-width: $screen-sm) {
          margin-top: 0;
          margin-bottom: 0;
          flex: 0 1 18%;
        }
        &.unit-mix-plan {
          flex: 0 1 50%;
          @media(min-width: $screen-sm) {
            flex: 0 1 25%;
          }
        }
        &.unit-mix-units, &.unit-mix-beds, &.unit-mix-baths {
          flex: 0 1 25%;
          @media(min-width: $screen-sm) {
            flex: 0 1 13%;
          }
        }
        label {
          color: #999;
          font-size: 11px;
          margin-bottom: 3px;
        }
        .unit-mix-value {
        }
      }
    }
  }
}

.description {
  font-size: 14px;
}

h5.section-title {
  color: #888;
  padding-bottom: 1px;
  font-size: 19px;
  @include listing_border_bottom;
}

.details-wrap-outer {
  margin-top: 20px;
  .details-wrap {
    @media(min-width: $screen-sm) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .detail {
      width: 100%;
      padding: 0 1px 10px;
      font-size: 14px;
      flex: 0 1 50%;
      display: flex;
      justify-content: space-between;
      .detail-label {
        color: #999;
        flex: 1 1 45%;
      }
      .detail-content {
        color: #444;
        flex: 1 1 55%;
      }
    }
  }
}

.google-map-wrapper {
  //flex: 1;
  width: 100%;
  height: 420px;
  padding: 10px;
  .google-map-inner-wrapper {
    height: 400px;
    #map {
      height: 400px;
    }
  }
}

// listing agent form
.listing-agent-form-wrap {
  font-family: 'Open Sans';
  width: 100%;
  padding: 12px 15px 15px;
  border: 1px solid #DDD;
  text-align: center;
  margin: 15px 0;
  h3 {
    color: #444;
    font-size: 20px;
    margin: 0 0 10px;
  }
  @media(min-width: $screen-sm) {
    margin: 30px;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    input, textarea {
      font-size: 14px;
      border-radius: 0;
      border-color: #DDD;
      box-shadow: none;
      padding: 3px 10px;
      flex: 1 1 100%;
      &.name, &.phone {
        flex: 0 1 49%;
      }
    }

    input.submit {
      background-color: $brand-primary;
      font-family: 'Open Sans', 'sans-serif';
      font-weight: 700;
      color: #FFF;
      border: none;
      padding: 13px 15px;
      font-size: 15px;
      //border-radius: 5px;
      @media(min-width: $screen-sm) {
        //max-width: 40%;
        margin: 0 auto;
        flex: 0 1 auto;
      }
      &:hover {
        background-color: lighten($brand-primary, 5%);
      }
    }

    .agent-choice-wrap {
      display: flex;
      flex: 1 1 50%;
      //justify-content: flex-start;
      margin-bottom: 15px;
      .agent-radio {
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1 1 15%;
        i {
          font-size: 18px;
          transition: 0.1s;
        }
      }
      .agent-choice {
        display: flex;
        padding: 5px;
        border: 1px solid #DDD;
        flex: 1 1 85%;
        //transition: 0.1s;
        @media(min-width: $screen-sm) {
          //flex: 0 1 49%;
        }
        .avatar-wrap {
          flex: 0 1 25%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #EEE;
          i {
            font-size: 30px;
          }
        }
        .details-wrap {
          flex: 0 1 75%;
          text-align: left;
          padding-left: 10px;
          .agent-name {
            color: #333;
          }
          .broker-name {
            color: #AAA;
          }
        }
      }
      &:hover {
        cursor: pointer;
        .agent-choice {
          border: 1px solid $brand-primary;
        }
        .agent-radio {
          i {
            //font-size: 20px;
            color: $brand-primary;
          }
        }
      }
      &.active {
        .agent-choice {
          border: 2px solid $brand-primary;
          padding: 4px;
        }
        .agent-radio {
          i {
            //font-size: 20px;
            color: $brand-primary;
            &:before {
              content: "\f192";
            }
          }
        }
      }
    }

  }
}

.file-attachments-wrap {
  margin-top: 20px;
  .file-attachment {
    padding: 5px 0;
    a {
      font-size: 14px;
    }
  }
}

.gallery-hidden-images {
  display: none;
}
