$brand-primary: #00A3E4; // orig site blue
$brand-primary: #19647E; // darker blue
$brand-primary: #28AFB0; // lighter aqua blue
$logo-color: #111;
//$brand-primary: #555;
$brand-second: #006989;


$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;

